h3 {
    text-align: center;
}

/******* Navbar Styles *******/
.navbar {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.navbar-brand {
    color: #fff !important;
}

/******* Content Styles *******/
#content {
    overflow: auto;
    margin-bottom: 20px;
}

#teams-table {
    display: block;
}

#teams-table td {
    padding: 5px;
}

#teams-table img {
    width: 100%;
    cursor: pointer;
}

.hero-image {
    width: 100%;
}

/******* Footer Styles *******/
#footer {
    background-color: #222;
    color: #fff;
    overflow: auto;
    text-align: center;
    padding: 10px 0px;
    border-radius: 10px 10px 0px 0px;
    clear: both;
}

#footer div {
    overflow: hidden;
}

#footer p {
    margin-top: 20px;
}

#footer a {
    color: #fff;
}

#footer a:visited {
    color: #fff;
}

.footer-links {
    width: 100%;
}

.footer-links a {
    display: block;
    border-bottom: 1px solid #fff;
    width: 100%;
    padding: 10px 0px;
}

.footer-links a.bottom {
    border-bottom: none;
}